// @import "_mixins"

@media screen and (max-width: 1501px)
    body
        font-size: 90%
        background-color: #35c710

@media screen and (max-width: 1001px)
    body
        font-size: 80%

body
    background-color: #9310c7

// section
//     @include size(100%,auto)
//     @include text (2em, #222222, $fontFamily, 500, auto, inherit, auto )

// .ffaf
//     background-color: #1231e0
//     p
//         font-size: 10px
//         @include flex-center (80%,15vh)
//         @include text (2em, #ad0c0c, $fontFamily, 800, auto, inherit, auto )
